@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-cwhite text-black;
  }
}

@layer components {
  .board {
    box-shadow: 20px 10px 38px 3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 20px 10px 38px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 20px 10px 38px 3px rgba(0, 0, 0, 0.53);
  }

  .pictureshadow {
    box-shadow: -17px -1px 42px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -17px -1px 42px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -17px -1px 42px -5px rgba(0, 0, 0, 0.75);
  }

  :root {
    --bg-move: center 0px;
  }
  .herobg {
    background-image: url("../public/assets/herobg.jpg");
    background-attachment: scroll;
    background-position: var(--bg-move);
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .herobgfixed {
    background-image: url("../public/assets/herobgfixed.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  /* ... */
}
